<div class="container">
  <div class="row">
   <div class="col-xs-3">
    <%= render 'users/userinfo', user: @user %>
    <%= render 'books/newbook', book: @book_new %>
   </div>
　　<div class="col-xs-9">
	<h2 class="headline" style="padding-top: 20px;">Users</h2>
      <table class="table">
　     <thead>
　　   　<tr>
	       <th>image</th>
　　　    <th>name</th>
　　　    <th></th>
　　     </tr>
　      </thead>
      　<tbody>
　       <% @users.each do |user| %>
　　     　<tr class="contents">
	       <td><%= attachment_image_tag user, :profile_image, :fill, 30, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%></td>
　　　      <td><%= user.name %></td>
           <td>フォロー数:<%= user.followings.count %></td>
           <td>フォロワー数:<%= user.followers.count %></td>
           <td>
               <% unless current_user == user %>
                <% if current_user.following?(user) %>
                  <%= form_for(current_user.relationships.find_by(follow_id: user.id), html: { method: :delete }) do |f| %>
                    <%= f.hidden_field :follow_id, value: user.id %>
                    <%= f.submit "フォローを外す", class: "btn btn-default" %>
                  <% end %>
                <% else %>
                  <%= form_for(current_user.relationships.build) do |f| %>
                     <%= f.hidden_field :follow_id, value: user.id %>
                     <%= f.submit "フォローする", class: "btn btn-default" %>
                  <% end %>
                 <% end %>
              　<% end %>
          </td>
　　　      <td><%= link_to "Show", user_path(user.id) %></td>
　　     　</tr>
　       <% end %>
　　　　 </tbody>
　　　  </table>
   </div>
</div>