<h2 >New book</h2>
 <%= form_for(book) do |f| %>
　<% if book.errors.any? %>
   <div id="error_explanation">
   <h2><%= book.errors.count %>件のエラーが発生しました。</h2>
   <ul>
     <% book.errors.full_messages.each do |message| %>
     <li><%= message %></li>
     <% end %>
   </ul>
   </div>
  <% end %>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Opinion</p>
  <%= f.text_field :body%>
  <p></p>
  <%= f.submit "Create Book", class: "btn btn-primary" %>
 <% end %>