<div class="body">
 <div class="container">
  <div class="row">
   <div class="col-xs-3">
     <h2 class="books_headline" style="padding-top: 40px;">User info</h2>
      <table class="table">
       <tbody>
        <tr></tr> 
         <tr>
          <th>name</th>
          <th></th>
         </tr>
         <tr>
          <th>introduction</th>
          <th></th>
         </tr>
       </tbody>
      </table>
     <div class="row">

      <P><%= link_to "", edit_user_path(current_user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_path" %></P>
     </div>

      <h2 >New book</h2>
      <%= form_for(@book) do |f| %>
      <% if @book.errors.any? %>
       <div id="error_explanation">
       <h2><%= @book.errors.count %>件のエラーが発生しました。</h2>
       <ul>
        <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
       </ul>
       </div>
         <% end %>
         <p>Title</p>
          <%= f.text_field :title %>
         <p>Opinion</p>
          <%= f.text_field  :body%>
          <p></p>
          <%= f.submit "Create Book", class: "btn btn-primary" %>
           <% end %>
        </div>
        <div class="col-xs-9">
         <h2 class="books_headline" style="padding-top: 40px;">Books</h2>
         <table>
　        <thead>
　　       <tr>
　　　      <th>Title</th>
　　　      <th>Opinion</th>
　　       </tr>
　        </thead>
          <tbody>
　        <% @books.each do |book| %>
　　       <tr class="contents">
　　　      <td><%= book.title %></td>
　　　      <td><%= book.body %></td>
　　       </tr>
　        <% end %>
　　　　   </tbody>
　　　    </table>
　　     </div>
    </div>
  </div>
</div>