<div class="container">
  <div class="row">
   <div class="col-xs-3">
    <%= render 'users/userinfo', user: @user %>
    <%= render 'books/newbook', book: @book_new %>
   </div>
　　<div class="col-xs-9">
    　<h2 class="headline" style="padding-top: 20px;">Books</h2>
      <table class="table">
　     <thead>
　　   　<tr>
	     <th></th>
　　　    <th>Title</th>
　　　    <th>Opinion</th>
　　     </tr>
　      </thead>
      　<tbody>
　       <% @books.each do |book| %>
　　     　<tr class="contents">
  	       <td>
            <%= link_to user_path(book.user) do %>
            <%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
            <% end %>
           </td>
           <td>
            <%= link_to book_path(book) do %>
  　　　        <%= book.title %>
            <% end %>
           </td>
  　　　    <td><%= book.body %></td>
           <td>
               <% if book.favorited_by?(current_user) %>
                  <li>
                  <%= link_to book_favorites_path(book), method: :delete do %>
                    <i class="fa fa-heart" aria-hidden="true" style="color: red;" ></i>
                    <%= book.favorites.count %>
                  <% end %>
                  </li>
                 <% else %>
                  <li>
                  <%= link_to book_favorites_path(book), method: :post do %>
                    <i class="fa fa-heart" aria-hidden="true"></i>
                    <%= book.favorites.count %>
                  <% end %>
                  </li>
                <% end %>
           </td>
           <td><p class="bookcomment-list">コメント数：<%= book.book_comments.count %></p>
           </td>
　　     　</tr>
　       <% end %>
　　　　 </tbody>
　　　  </table>
　　 </div>
　　</div>
　</div>
</div>