<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
     <nav class="nav navbar-nav navbar-left">
     <span class="Login_Signup_headline">Bookers</span>
     </nav>
     <nav>
      <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
       <li><%= link_to 'Home', user_path(current_user), class: "glyphicon glyphicon-home" %></li>
       <li><%= link_to 'Users', users_path, class: "glyphicon glyphicon-user" %></li>
       <li><%= link_to 'Books', books_path, class: "glyphicon glyphicon-book" %></li>
       <li><%= link_to 'logout', destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-log-out" %></li>
      <% else %>
       <li><%= link_to 'Home', root_path, class: "glyphicon glyphicon-home" %></li>
       <li><%= link_to 'About', about_path, class: "glyphicon glyphicon-link" %></li>
       <li><%= link_to 'Sign up', new_user_registration_path, class: "glyphicon glyphicon-edit" %></li>
       <li><%= link_to 'login', new_user_session_path, class: "glyphicon glyphicon-log-in" %></li>
      <% end %>
      </ul>
     </nav>
    </div>
   </header>
  <% if user_signed_in? %>
    <div class="search-form" style="margin-top: 70px; text-align: center;">
      <%= form_tag(search_path, method: :get) do %>
       <%= text_field_tag (:word) %>
       <%= select_tag 'range', options_for_select([['---選択してください---',''], ['User','1'], ['Book', '2']]) %>
       <%= select_tag 'search', options_for_select([["前方一致", "forward_match"], ["後方一致", "backward_match"], ["完全一致", "perfect_match"], ["部分一致", "partial_match"]]) %>
       <%= submit_tag "検索" %>
      <% end %>
    </div>
  <% end %>
   <div class='body'>
      <div class='container'>
        <p id="notice"><%= notice %></p>
        <%= yield %>
      </div>
    </div>

   <footer>
     <div class="row">
      <div class="col-xs-3 col-xs-offset-9">
        <p>CopyRight Infratop.inc</p>
      </div>
     </div>
   </footer>
  </body>
</html>
